.gallery {
    display: flex;
    gap: 0;
    align-items: flex-start;
    margin: 8rem;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute; */
}

.gallery-small-video {
    float: left;
    width: 20%;
}

.gallery-small-video video {
    height: 6rem;
    margin: 0.8rem 0;
    cursor: pointer;
    display: block;
}

.video-container {
    float: right;
    width: 70%;
}

.video-container video {
    height: 24rem;
}