


.gallery {
    width: 70%;
    margin: 4rem auto;

    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-lg);
}

.portfolio-video {
    width: 30%;
    aspect-ratio: 16 / 9;

    object-fit: cover;

    border-radius: 10px;
}