

.card{
    background-color: var(--blanc);
    padding: 0.1rem;
    margin: 2rem;
    border-radius: 1rem;
}

.gallery {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin: 2.5rem;
}

.gallery-small-video {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    height: 40rem;
    overflow: hidden;

    overflow-y: auto;
    overflow-x: hidden;
}

.gallery-small-video video {
    width: 100%;
    height: 6rem;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.6;

}

.gallery-small-video video:hover {
    opacity: 1;
}

.video-container {
    flex: 1;
}

.video-container video {
    width: 100%;
    height: 40rem;
    object-fit: cover;
}

.grandTitre{
    font-size: 3rem;
    text-align: center;
    color: var(--blanc);
}

.description{
    flex: 1;
    padding: 0.5rem;
    max-width: 12rem;
    color: var(--noir);
}

.description h1{
    font-size: 1.6rem;
}

.description ul {
    font-size: 1.2rem;
    padding-left: 1rem;
}