.bg-accueil::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("../images/photo_profil_landscape_transparent.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.hi {
    margin-left: 0;
    margin-top: 0;
}

.hi h1 {
    font-weight: 200;
    font-size: 40px;
    color: var(--blanc);
}

#code-defilant {
    background: url(../images/code_deroulant.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 100vh;
    width: 100%;
    /* padding: 270px 0; */
    perspective: 1000px;
    perspective-origin: 50% 50%;
    text-align: center;
    margin-bottom: 0;
    animation: animate 120s linear infinite;
    z-index: -1;
    /* filter: blur(4px); */
}

@keyframes animate {
    from {
        background-position: 0 -120px;
    }

    to {
        background-position: 0 0;
    }
}